asgiref
blinker
certifi
charset-normalizer
command-not-found
cryptography
dbus-python
distlib
distro
distro-info
Django
django-anymail
docker
filelock
gunicorn
httplib2
idna
importlib-metadata
jeepney
keyring
launchpadlib
lazr.restfulclient
lazr.uri
more-itertools
netifaces
oauthlib
packaging
pipenv
platformdirs
PyGObject
PyJWT
pyparsing
python-apt
PyYAML
requests
SecretStorage
six
sqlparse
systemd-python
typing_extensions
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
virtualenv20.25.0
virtualenv-clone
wadllib
zipp
